/wp-config-original.php
/wp-config.php
/wp-content/cache/wavatars/*
/wp-content/uploads/bio/robert-doisneau-le-baiser-de-l-hotel-de-ville-original.jpg
/wp-content/uploads/egyelorenem
/wp-content/uploads/egyelorenem/*
/wp-content/uploads/weblog
/wp-content/uploads/weblog/*
/wp-content/uploads/portfolio
/wp-content/uploads/portfolio/*
/wp-content/plugins/monsterid
/wp-content/plugins/monsterid/*
/wp-content/plugins/w3-total-cache
/wp-content/plugins/w3-total-cache/*
