/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { font-family: "Open Sans", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serifs; background: #1f1f1f; color: #fff; font-size: 15px; }
a { color: #c3c2c2; }
a:hover,
a:focus { text-decoration: none; color: #c3c2c2; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300; }
.weblog h1,
.search h1,
.contact h1,
.portfolio h1 { margin-bottom: 40px; }
blockquote { padding-left: 36px; border: none; background: url(../images/blockquote.png?ver=29092014b) no-repeat 0 0; margin: 0; font-style: italic; }
.blog-post ul, .blog-post ol { margin-left: 40px; }
.noborder { border: none !important; }



/* navbar */
.navbar { background: transparent; border: none; }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover { float: left; text-indent: -9999px; width: 190px; height: 78px; padding: 0; margin: 0; background: url(../images/logo.png?ver=29092014b) no-repeat center center; background-color: black; background-size: 100%; }
.navbar .nav { float: none; margin: 0 221px 0 0; background: black; }
.navbar .nav:before,
.navbar .nav:after { display: table; content: " "; }
.navbar .nav:after { clear: both; }
.navbar-toggle { position: relative; top: auto; left: auto; display: none; }
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { border: none; background-color: transparent; top: 15px; right: 20px; }
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar { background-color: #333; }
.navbar-collapse { border: none; box-shadow: none; }
.navbar-collapse.collapse { height: auto; overflow: hidden !important; background: transparent url(../images/perforation-horizontal.png?ver=29092014b) no-repeat right bottom; }
.bloginfo-description,
.bloginfo-description a { font-size: 0px; line-height: 0px; color: #000; margin: 0; border: none; }
.triangle { background: transparent url(../images/triangle-horizontal.png?ver=29092014b) no-repeat left bottom; height: 78px; width: 30px; float: left; }
.nav li a { text-transform: uppercase; font-size: 19px; padding: 0 15px; height: 78px; line-height: 78px; }



/* home carousel */
.carousel,
.carousel-inner,
.carousel-inner > .item { position: absolute; width: 100%; top: 0; bottom: 0; background-position: center center; background-size: 115% auto; background-repeat: no-repeat; transform: translateZ(0deg); }
.carousel-control { display: block; }
.carousel-control span { font-size: 200px; position: absolute; top: 50%; margin-top: -143px; }
.carousel-control.left span { left: 50px; }
.carousel-control.right span { right: 50px; }
.carousel-caption { background-color: rgba(0, 0, 0, 0.5); padding: 30px 30px 50px; text-align: left; display: block; }
.carousel-caption h2 { margin: 0 0 15px; text-transform: uppercase; }
.carousel-indicators { bottom: 30px; }



/* posts */
.meta-info { margin: 0 0 30px; text-transform: uppercase; font-size: 11px; line-height: 17px; }
.caption { font-size: 12px; text-align: right; }
.post-thumbnail .caption { margin-top: -25px; }
.img-responsive { width: auto; }
.blog-post .img-responsive[src*=".gif"] { width: 100%; }
.blog-post .img-responsive { margin-top: 30px; }
.blog-post .img-vertical { max-width: 66.66%; }
.blog-post .post-thumbnail img, .caption { margin-bottom: 30px; }
.search .btn { display: none; }
.search .post,
.category-weblog .post,
.category-bio .post { margin-top: 40px; }
.search .post:first-child,
.category-weblog .post:first-child,
.blog-post .post-thumbnail img { margin-top: 0; }
.portfolio h2,
.search .post h2,
.category-weblog .post h2,
.category-bio .post h2 { margin-top: 0; }
.contact { padding-top: 30px; }
.contact h1 { margin-top: 0; }
.contact h2,
.portfolio h2 { font-size: 18px; line-height: 24px; }
.contact h2 { margin-top: 35px; }
.sidebar img,
.contact img,
.weblog img,
.portfolio img { border: 1px solid #2e2e2e; }
.portfolio img { margin-bottom: 20px; }
h2.connect { font-size: 30px; text-align: right; margin-top: 50px; }
h2.connect small { font-size: 14px; }



/* sidebar */
.sidebar { padding: 30px; background-color: #151515; margin-bottom: 40px; }
.sidebar h3,
.sidebar-comments h3,
.respond h3 { margin-top: 0; }
.sidebar .media { margin-bottom: 30px; }
.sidebar .section { margin-bottom: 50px; }
.sidebar .section:last-child { margin-bottom: 0; }
.sidebar-comments, .respond { padding: 30px; background-color: #151515; margin-top: 50px; }
.sidebar-comments .respond { margin: 50px -30px -30px; }
.searchinput { width: 100%; }
.searchsubmit { display: none; }
.site-generator { font-size: 12px; padding: 40px; text-align: right; }



/* forms */
.btn,
input[type="submit"] { padding: 6px 12px; color: #c3c2c2; font-size: 13px; background-color: #292929; border: none; border-radius: 0; font-family: 'Open Sans', sans-serif; }
textarea,
input[type="text"] { border-radius: 0; border: none; background: #222; color: #aaa; font-family: 'Open Sans', sans-serif; box-shadow: none; font-size: 14px; padding: 6px 12px; }
textarea { width: 100%; }
label { font-weight: normal; color: #aaa; margin-left: 10px; }



/* comments */
.commentlist p,
.commentlist ul,
.commentlist .comment-meta,
.commentlist .reply { margin: 0 0 0 105px; }
.commentlist img { margin-right: 14px; float: left; border: 1px solid #333; }
.commentlist .says { display: none; }
.commentlist .comment-meta,
.comment-reply-link { font-size: 12px; }
.commentlist ul { margin-top: 15px; }
.commentlist li { margin: 0; padding: 15px 0; list-style: none; list-style-type: none; }
.comment-body { min-height: 70px; }
.gravatar { float: left; }
.comment_content { min-height: 80px; padding-left: 20px; position: relative; overflow: hidden; }
.nocomments { display: none; margin: 0; padding: 0; }
.respond { margin-top: 50px; }
.respond p { margin-top: 20px; margin-bottom: 0; }
.related-posts [class*="col"] { margin-bottom: 15px; }



/* paging */
.wp-pagenavi { margin-top: 40px; }
.wp-pagenavi .extend { padding: 0 10px; }
.wp-pagenavi a,
.wp-pagenavi .current { color: #777; background-color: #292929; border: none; display: inline-block; margin: 0 1px 10px 0; padding: 10px 15px; }



/* social */
.simplesocialbuttons { margin: 50px 0 !important; clear: both !important; }
.simplesocialbutton { float: right !important; margin-left: 20px !important; }
.ssb-button-fblike { width: 80px !important; }



/* responsive */
@media screen and (max-width: 1199px) {
    .contact h2 { margin-top: 13px; }
}

@media screen and (max-width: 979px) {
    .navbar-brand,
    .navbar .nav,
    .navbar .nav > li { float: none; }
    .navbar-toggle { position: absolute; display: block; }
    .navbar-collapse.collapse { height: 0 !important; }
    .navbar-collapse.collapse.in { height: auto !important; }
    .triangle { display: none; }
    .navbar .nav { margin: 0; background: transparent; padding: 0 0 30px 0; }
    .navbar .nav li { background: black; }
    .navbar .nav li a { height: auto; line-height: normal !important; padding: 10px 35px !important; }
    .navbar { background-color: #000; }
    .navbar-header { float: none; }
}

@media screen and (max-width: 767px) {
    .navbar .nav li a { padding: 10px 20px !important; }
    h1 { margin-top: 10px; }
    .carousel-control { display: none; }
    .carousel-caption { width: 100%; left: 0; bottom: 0; }
    .carousel-indicators { bottom: 10px; }
    label { display: block; margin: 0; }
    textarea,
    input[type="text"] { width: 100%; }
    [class*="col-"] { padding-left: 30px; padding-right: 30px; }
    [class*="col-"] [class*="col-"] { padding-left: 15px; padding-right: 15px; }
    .simplesocialbuttons { margin: 50px 0 100px 0!important; }
    .simplesocialbutton { margin-bottom: 10px; float: none !important; }
    .ssb-button-googleplus { margin-bottom: 5px; }
}

@media screen and (max-width: 480px) {
    .carousel-inner > .item { background-position: center 78px; }
    .carousel-indicators { display: none; }
    .carousel-caption { padding-bottom: 30px; }
}
